In [2]:
import sys
import os

sys.path.append(os.path.abspath(".."))

In [3]:
from src.data_loader import load_csv


player_profiles = load_csv("player_profiles.csv")
market_values = load_csv("player_market_value.csv")
player_performances = load_csv("player_performances.csv")
player_injuries = load_csv("player_injuries.csv")


# First Analysis
print("üìä FOOTBALL DATA EXPLORATION")
print("=" * 50)

datasets = {
    'Player Profiles': player_profiles,
    'Market Values': market_values,
    'Player Performances': player_performances,
    'Player Injuries': player_injuries
}

for name, df in datasets.items():
    print(f"\n{name}:")
    print(f"  Shape: {df.shape}")
    print(f"  Columns: {list(df.columns)}")
    print(f"  Sample:")
    display(df.head(5))

‚úîÔ∏è Data files already available.

c:\Users\levi.lopes.m.moraes\OneDrive - Accenture\Desktop\LeviMarra\BPython\football_analysis\src\data_loader.py:28: DtypeWarning: Columns (29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(os.path.join(DATA_DIR, filename))

‚úîÔ∏è Data files already available.
‚úîÔ∏è Data files already available.
‚úîÔ∏è Data files already available.
üìä FOOTBALL DATA EXPLORATION
==================================================

Player Profiles:
  Shape: (92671, 34)
  Columns: ['player_id', 'player_slug', 'player_name', 'player_image_url', 'name_in_home_country', 'date_of_birth', 'place_of_birth', 'country_of_birth', 'height', 'citizenship', 'is_eu', 'position', 'main_position', 'foot', 'current_club_id', 'current_club_name', 'joined', 'contract_expires', 'outfitter', 'social_media_url', 'player_agent_id', 'player_agent_name', 'contract_option', 'date_of_last_contract_extension', 'on_loan_from_club_id', 'on_loan_from_club_name', 'contract_there_expires', 'second_club_url', 'second_club_name', 'third_club_url', 'third_club_name', 'fourth_club_url', 'fourth_club_name', 'date_of_death']
  Sample:

,player_id,player_slug,player_name,player_image_url,name_in_home_country,date_of_birth,place_of_birth,country_of_birth,height,citizenship,...,on_loan_from_club_id,on_loan_from_club_name,contract_there_expires,second_club_url,second_club_name,third_club_url,third_club_name,fourth_club_url,fourth_club_name,date_of_death
0,1,silvio-adzic,Silvio Adzic (1),https://img.a.transfermarkt.technology/portrai...,NaN,1980-09-23,Gr√ºnstadt,Germany,0.0,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100011,everton-silva,√âverton Silva (100011),https://img.a.transfermarkt.technology/portrai...,√âverton Jos√© Modesto da Silva,1988-08-04,S√£o Jo√£o de Meriti,Brazil,171.0,Brazil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,miroslav-klose,Miroslav Klose (10),https://img.a.transfermarkt.technology/portrai...,Miroslav Josef Klose,1978-06-09,Opole,Germany,184.0,Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,john-thompson,John Thompson (10001),https://img.a.transfermarkt.technology/portrai...,John Paul Thompson,1981-10-12,Dublin,Ireland,183.0,Ireland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100001,carlos-auzqui,Carlos Auzqui (100001),https://img.a.transfermarkt.technology/portrai...,Carlos Daniel Auzqui,1991-03-16,Longchamps,Argentina,180.0,Argentina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Market Values:
  Shape: (901429, 3)
  Columns: ['player_id', 'date_unix', 'value']
  Sample:

   player_id   date_unix       value
0    1000135  2023-12-19    100000.0
1    1000135  2024-06-23    100000.0
2         10  2005-01-06   9000000.0
3         10  2008-06-03  20000000.0
4         10  2009-08-29  12000000.0

Player Performances:
  Shape: (1878719, 20)
  Columns: ['player_id', 'season_name', 'competition_id', 'competition_name', 'team_id', 'team_name', 'nb_in_group', 'nb_on_pitch', 'goals', 'assists', 'own_goals', 'subed_in', 'subed_out', 'yellow_cards', 'second_yellow_cards', 'direct_red_cards', 'penalty_goals', 'minutes_played', 'goals_conceded', 'clean_sheets']
  Sample:

,player_id,season_name,competition_id,competition_name,team_id,team_name,nb_in_group,nb_on_pitch,goals,assists,own_goals,subed_in,subed_out,yellow_cards,second_yellow_cards,direct_red_cards,penalty_goals,minutes_played,goals_conceded,clean_sheets
0,1,08/09,OBLG,NOFV-Oberliga S√ºd,4825,FC Eilenburg,9,9,0.0,0,0,0,2,0,0,1,0,NaN,0,0
1,1,07/08,RS,Regionalliga S√ºd,1526,FSV Ludwigshafen Oggersheim,22,22,1.0,0,0,3,8,1,0,0,0,1580.0,0,0
2,1,06/07,L2,2. Bundesliga,996,TuS Koblenz,10,4,0.0,0,0,4,0,0,0,0,0,NaN,0,0
3,1,06/07,DFB,DFB-Pokal,996,TuS Koblenz,1,0,0.0,0,0,0,0,0,0,0,0,NaN,0,0
4,1,05/06,L2,2. Bundesliga,66,SpVgg Unterhaching,26,14,1.0,1,0,12,1,1,0,0,0,388.0,0,0

Player Injuries:
  Shape: (143195, 7)
  Columns: ['player_id', 'season_name', 'injury_reason', 'from_date', 'end_date', 'days_missed', 'games_missed']
  Sample:

,player_id,season_name,injury_reason,from_date,end_date,days_missed,games_missed
0,10,15/16,Hand injury,2016-04-19,2016-04-29,11.0,2
1,10,15/16,Thigh problems,2015-12-18,2015-12-31,14.0,1
2,10,15/16,Capsular injury,2015-11-11,2015-11-21,11.0,0
3,10,15/16,Rest,2015-11-04,2015-11-06,3.0,1
4,10,15/16,Hamstring injury,2015-08-20,2015-10-08,50.0,10

In [4]:
# C√©lula 4 - FILTRAR JOGADORES BRASILEIROS
print("üáßüá∑ AN√ÅLISE DE JOGADORES BRASILEIROS")
print("=" * 45)

# Filtrar brasileiros
brazilian_players = player_profiles[player_profiles['country_of_birth'] == 'Brazil']
print(f"Total de jogadores brasileiros: {len(brazilian_players)}")

# Top posi√ß√µes
print("\nüìä POSI√á√ïES MAIS COMUNS:")
print(brazilian_players['position'].value_counts().head(10))

# Clubes atuais
print("\nüèÜ CLUBES ATUAIS (TOP 10):")
print(brazilian_players['current_club_name'].value_counts().head(10))

üáßüá∑ AN√ÅLISE DE JOGADORES BRASILEIROS
=============================================
Total de jogadores brasileiros: 5386

üìä POSI√á√ïES MAIS COMUNS:
position
Defender - Centre-Back           913
Attack - Centre-Forward          806
Midfield - Defensive Midfield    683
Midfield - Attacking Midfield    587
Goalkeeper                       450
Defender - Left-Back             423
Defender - Right-Back            356
Attack - Right Winger            353
Attack - Left Winger             349
Midfield - Central Midfield      305
Name: count, dtype: int64

üèÜ CLUBES ATUAIS (TOP 10):
current_club_name
Retired                                    1393
Without Club                                364
Botafogo FC                                  45
---                                          41
Am√©rica Futebol Clube (MG)                   34
Oper√°rio Ferrovi√°rio Esporte Clube (PR)      33
Londrina Esporte Clube (PR)                  33
Crici√∫ma Esporte Clube                       33
Ava√≠ FC                                      31
Guarani Futebol Clube (SP)                   31
Name: count, dtype: int64

In [5]:
# C√©lula 5 - AN√ÅLISE DE VALORES
print("üí∞ AN√ÅLISE DE VALORES DE MERCADO")
print("=" * 40)

# Juntar valores com perfis
player_values = market_values.merge(player_profiles[['player_id', 'player_name', 'country_of_birth']], on='player_id')

# Valores mais altos
top_values = player_values.sort_values('value', ascending=False).head(10)
print("TOP 10 VALORES DE MERCADO:")
print(top_values[['player_name', 'country_of_birth', 'value']])

üí∞ AN√ÅLISE DE VALORES DE MERCADO
========================================
TOP 10 VALORES DE MERCADO:
                     player_name country_of_birth        value
604306   Erling Haaland (418560)           Norway  200000000.0
474376    Kylian Mbapp√© (342229)           France  200000000.0
474374    Kylian Mbapp√© (342229)           France  200000000.0
474375    Kylian Mbapp√© (342229)           France  200000000.0
575164  Vinicius Junior (371998)           Brazil  200000000.0
363176  Vinicius Junior (371998)           Brazil  200000000.0
731410     Lamine Yamal (937958)            Spain  200000000.0
604307   Erling Haaland (418560)           Norway  200000000.0
278946      Lionel Messi (28003)        Argentina  180000000.0
765909  Jude Bellingham (581678)          England  180000000.0

In [6]:
# C√©lula 7 - DESEMPENHO DE BRASILEIROS
print("‚öΩ DESEMPENHO DE JOGADORES BRASILEIROS")
print("=" * 48)

# Juntar desempenho com jogadores BR
br_performances = player_performances.merge(brazilian_players[['player_id']], on='player_id')

# Top artilheiros
top_scorers = br_performances.groupby('player_id')['goals'].sum().sort_values(ascending=False).head(10)
top_scorers_names = top_scorers.reset_index().merge(player_profiles[['player_id', 'player_name']], on='player_id')
print("üéØ TOP ARTILHEIROS BRASILEIROS:")
print(top_scorers_names[['player_name', 'goals']])

‚öΩ DESEMPENHO DE JOGADORES BRASILEIROS
================================================
üéØ TOP ARTILHEIROS BRASILEIROS:
                player_name  goals
0              Hulk (80562)  434.0
1       V√°gner Love (18829)  368.0
2            Neymar (68290)  366.0
3              Fred (31005)  351.0
4      Lu√≠s Fabiano (19082)  318.0
5            Ronaldo (3140)  310.0
6  Ricardo Oliveira (15468)  308.0
7      Magno Alves (154901)  298.0
8             Jonas (50143)  280.0
9              Alex (18537)  278.0